style
  include css/navbar.css
.navbar
  .navbar-items
    .navbar-items-name
      a: strong spdm.dev
    .navbar-items-responsive
      a(href="https://www.spdm.dev/").rainbow Home
      a(href="https://www.spdm.dev/contact.html").rainbow Contact
      .dropdown
        button.dropbtn.rainbow Projects...
        .dropdown-content
          a(href="https://www.spdm.dev/contact.html")#dropdown-content-btn.rainbow Contact
          a(href="#")#dropdown-content-btn.rainbow About