style
  include css/navbar.css
.navbar
  .navbar-items
    .navbar-items-name
      a: strong spdm.dev
    .navbar-items-responsive
      a(href="https://www.spdm.dev/").rainbow Home
      a(href="https://www.spdm.dev/contact.html").rainbow Contact
      .dropdown
        button.dropbtn.rainbow Projects...
        .dropdown-content
          a(href="https://www.spdm.dev/projects/esm")#dropdown-content-btn.rainbow ESM
          a(href="https://www.spdm.dev/projects/qc")#dropdown-content-btn.rainbow Quadratics Calculator
          a(href="https://www.spdm.dev/projects/spdmdev")#dropdown-content-btn.rainbow This Website