//- index.pug
//- pug -w ./ -o ./
doctype html

html
  head
    style
      include ../../css/index.css
      include ../../css/main.css
      include ../../css/navbar.css
      include ../../css/projects.css
    title spdm/home
  body
    include ../../navbar.html

    .main-content
      .welcome-text
        h1#header Discord "EasyServerManagement" bot
        h2#header I developed this bot to simplify the process of managing a Discord server/guild. It is a "command line" (chat) tool which allows you to write simple commands to perform actions in your server. The source code for my bot is available at #[a(href="https://github.com/sebastianmandal/easyservermanagement/") https://github.com/sebastianmandal/easyservermanagement].