//- index.pug
//- pug -w ./ -o ./
doctype html

html
  head
    style
      include ../../css/index.scss
      include ../../css/main.scss
      include ../../css/navbar.scss
      include ../../css/projects.scss
    title spdm/home
  body
    include ../../navbar.html

    .main-content
      .welcome-text
        h1#header This Website
        h2#header Source code is available at #[a(href="https://github.com/sebastianmandal/spdm.dev-website") https://github.com/sebastianmandal/spdm.dev-website].