//- index.pug
//- pug -w ./ -o ./
doctype html

html
  head
    style
      include ../css/index.scss
      include ../css/main.scss
      include ../css/navbar.scss
      include ../css/projects.scss
    title spdm/home
  body
    include ../navbar.html

    .main-content
      .welcome-text
        h1#header Quadratics Calculator
        h2#header I made this calculator using Javascript and Python. (Two different versions)
        h2#header The reason as to why I made this is because we are doing Quadratics in Maths at school and I wanted to challenge myself a tiny bit- this whole project took about three hours to get a working solution.
        h2#header Test online version #[a(href="./webversion") here].
        h2#header Source code is available at #[a(href="https://github.com/sebastianmandal/QuadraticsBracketsCalculator") https://github.com/sebastianmandal/QuadraticsBracketsCalculator].