html {
  width: 100%;
}

body {
  background-color: #5a5dff;
  text-align: center;
  font-family: 'Roboto';
  font-weight: light;
}

.input {
  color: white;
  background-color: rgb(0, 2, 141);
  width: 200px;
  height: 50px;
}

.inputtext {
  font-size: 20px;
}

.submit {
  color: white;
  background-color: rgb(0, 2, 141);
  width: 200px;
  height: 50px;
}

.factor {
  padding: 40px;
  border: 1px solid #ffffff;
}

.expand {
  padding: 40px;
  border: 1px solid #ffffff;
  margin-top: 30px;
}